<template name="loginComponent">
    <div class="ui center aligned grid">
            <div class="ui one column grid centered login-card">
                    <h1 class="ui header">Log in to your account</h1>
                    <form class="ui form login">
                        <div class="one field">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input name="email" type="text" placeholder="Email">
                                    </div>
                                </div>
                        </div>
                        <div class="one field">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input name="password" type="text" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="ui fluid large teal submit button">Login</button>
                    </form>
            </div>
    </div>
</template>